.dice {
  background: darkgreen;
  float: left;
  text-align: center;
  padding: 15px;
  margin: 10px;
  font-size: 20px;
}
h1{
  font-weight: bold;
  font-style: italic;
  font-family: monospace;
  text-align: center;

}
body {
  background-color: skyblue;
  background-image: url("..img/dice.jpeg");
}
